<div class="aesthetic-windows-95-modal d-inline-block">
  <div class="aesthetic-windows-95-modal-title-bar">
    <span class="aesthetic-windows-95-modal-title-bar-text">menu</span>
  </div>
  <div class="aesthetic-windows-95-modal-content">
    <nav class="d-inline-flex flex-column flex-lg-row justify-content-between">
      <a routerLink="/" class="mr-3">
        <img src="assets/icons/windows-0.png" class="mr-2">
        <span>HOME</span>
      </a>
      <a routerLink="/courses" class="mr-3">
        <img src="assets/icons/help_book_cool-0.png" class="mr-2">
        <span>COURSES</span>
      </a>
      <a routerLink="/authors" class="mr-3">
        <img src="assets/icons/user_card.png" class="mr-2">
        <span>AUTHORS</span>
      </a>
      <a routerLink="/topics" class="mr-3">
        <img src="assets/icons/entire_network_globe-2.png" class="mr-2">
        <span>TOPICS</span>
      </a>
      <a routerLink="/users">
        <img src="assets/icons/users-0.png" class="mr-2">
        <span>USERS</span>
      </a>
    </nav>
  </div>
</div>

